*{
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

div {
    outline: solid 5px black;
}

#center {
    width: 21%;
    height: 42.5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
}

#main {
    width: 100%;
    height: 100%;
    background-image: url("../images/brickback1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.nav {
    margin: 0 auto;
    width: 70%;
    height: 29%;
    position: relative;
    top: 2%;
}

#logo {
    margin: 0 auto;
    width: 100%;
    height: 40%;

}