*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 200vh;
    overflow-y: hidden;
}

/* div {
    outline: solid 5px black;
} */

#center {
    width: 31%;
    height: 65.5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
}

#main {
    width: 100%;
    height: 100vh;
    background-image: url("../images/brickback1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

#logo {
    margin: 0 auto;
    width: 100%;
    height: 40%;

}

.nav {
    margin: 0 auto;
    width: 70%;
    height: 29%;
    position: relative;
    top: 2%;
}

.navitem {
    margin: 0 auto;
    width: 100%;

}
#start{
    margin: auto;
    width:100%;
    background-image:url('../images/Start1.png') ;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

#start:hover{
    background-image: url('../images/Start2.png');
}

#info {
    margin: auto;
    width:100%;
    background-image:url('../images/About1.png') ;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;  
}

#info:hover{
    background-image: url('../images/About2.png');
}

#underground {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/underground.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#aboutmain{
    width: 50vw;
    height: 520px;
    position: relative;
    left: 25vw;
    top: 135px;
    background-image:url(../images/whitedrop.png);
    border-radius: 25px;
}
#logocollab{
    width: 485px;
    height: 300px;
    background-image: url(../images/logo-collab.png);
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
}
#about{
    width: 485px;
    height: 220px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 0;

}
.bodytxt{
    Font-Family: 'Quattrocento Sans', Sans-Serif;
    Font-Size: 17.75px;
    font-weight: 500;
    text-align: center;
}

#back{
    width: 8%;
    height: 150px;
    background-image: url("../images/up1.png");
    background-size: 95%;
    background-position: center;
    margin: 0 auto;
    position: relative;
    top: 130px;
}

#back:hover{
    background-image: url("../images/up2.png");

}
