*{
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 200vh;
    overflow-y: hidden;
}

/* div {
    outline: solid 5px black;
} */

#center {
    width: 31%;
    height: 65.5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
}

#main {
    width: 100%;
    height: 100vh;
    background-image: url("../images/brickback1.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#logo {
    margin: 0 auto;
    width: 100%;
    height: 40%;

}

.nav {
    margin: 0 auto;
    width: 70%;
    height: 29%;
    position: relative;
    top: 2%;
}

.navitem {
    margin: 0 auto;
    width: 100%;

}
#start{
    margin: auto;
    width:100%;
    background-image:url('../images/Start1.png') ;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
}

#start:hover{
    background-image: url('../images/Start2.png');
}

#info {
    margin: auto;
    width:100%;
    background-image:url('../images/About1.png') ;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;  
}

#info:hover{
    background-image: url('../images/About2.png');
}

#underground {
    height: 100vh;
    width: 100vw;
    background-color: brown;
}